*, *:before, *:after {
    margin: 0;
    padding: 0;
}
#header {
    background-image: url("images/banner.jpg");
    height: 388px;
    background-size: auto 388px;
}
body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}
ul{
    border: 1px dotted blue;
}
li {
    border: 1px solid black;
    background-color: red;
    
    list-style-type: none;
    display: inline-block;
}
#wrapper {
    max-width: 1366px;
    margin: 0 auto;
}